<li class="mandatory-field-label">Campos obligatorios <em class="mandatory-field">*</em></li>
<li><h3>Datos generales</h3></li>
<li>
    <label for="invoice-folio">Folio de la factura: <em class="mandatory-field">*</em></label>
    <span class="third-width"><input id="invoice-folio" type="text" class="form-control" placeholder="Ej. 3035" ng-model="selectedItem.folio" required="true"  ng-readonly="!isNewInvoice()"></span>
</li>
<li>
    <label for="invoice-documents">Archivo de la factura: <em class="mandatory-field">*</em></label>
    <span class="third-width"><input id="invoice-document-name" type="text" ng-model="$parent.documentName" class="form-control" placeholder="Ej. Copia de correo"></span>
    <span class="third-width"><input id="invoice-documents" onchange="angular.element(this).scope().documentFilesChanged(this)"  class="form-control" type="file" ></span>
    <span class="third-width"><a class="btn btn-default" ng-click="addDocument()">Añadir</a></span>
    <a class="attachment-link" ng-repeat="document in selectedItem.documents" ng-hide ="document.removed" ng-href="{{ document.url }}" target="_blank">{{ document.title }} <span class="icon icon-cancel-circle" ng-click="deleteDocument($event, document)"></span></a>
</li>
<li>
    <label for="invoice-type">Tipo de solicitud: </label>    
    <span class="third-width">
        <button id="invoice-type" type="button" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="requestTypeDropdown">
            <span ng-if="!selectedItem.requestType">Selecciona un tipo de solicitud</span><span ng-if="selectedItem.requestType">{{ selectedItem.requestType.name }}</span>
            <span class="caret"></span>
        </button>
    </span>
</li>
<li>
    <label for="invoice-folios">ID de solicitud:</label>
    <span class="third-width"><input id="invoice-folios" type="text" class="form-control" placeholder="Ej. 432" ng-model="$parent.folio"></span>
    <span class="third-width"><a class="btn btn-default" ng-click="addFolio(folio)">Añadir</a></span>
    <div>
        <a class="attachment-link" ng-repeat="folio in selectedItem.requestIds">{{ folio }} <span class="icon icon-cancel-circle" ng-click="deleteFolio($event, folio)"></span></a>
    </div>
</li>
<li>
    <label for="invoice-date">Fecha de facturación:</label>
    <quick-datepicker ng-model='invoiceDate' label-format="dd/MM/yyyy" date-filter='onlyFutureDate' on-change="setInvoiceDate(invoiceDate)" placeholder="Selecciona una fecha" ></quick-datepicker>
    <div id="invoice-date" ng-if="selectedItem.invoiceDate">{{ selectedItem.invoiceDate | formatDate }}</div>
</li>
<li>
    <label for="invoice-cashed">Cobrado:</label>
    <input id="invoice-cashed" type="checkbox" ng-model="selectedItem.cashed">
</li>