<li class="mandatory-field-label">Campos obligatorios <em class="mandatory-field">*</em></li>
<li><h3>Datos generales</h3></li>
<li>
    <label for="petition-creation-date">Fecha de creación:</label>
    <div id="petition-creation-date">{{ selectedItem.creationDate | formatDate }}</div>
</li>
<li>
    <label for="petition-delivery-date">Fecha límite de entrega:</label>
    <div id="petition-delivery-date">{{ selectedItem.deliveryDate | formatDate }}</div>
</li>
<li>
    <label for="petition-status">Estatus:</label>
    <input id="petition-status" type="text" class="form-control" ng-model="selectedItem.status.name" readonly>
</li>
<li>
    <label for="petition-id">ID:</label>
    <input id="petition-id" type="text" class="form-control" ng-model="selectedItem.id" readonly>
</li>
<li>
    <label for="petition-contract-number">No. de contrato coorporativo: <em class="mandatory-field">*</em></label>
    <input id="petition-contract-number" type="text" class="form-control" class="form-control" placeholder="Ej. 8591328" ng-model="selectedItem.contractNumber" required="true" ng-readonly="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)">
</li>
<li>
    <label for="petition-defendant">Demandado: <em class="mandatory-field">*</em></label>
    <input id="petition-defendant" type="text" class="form-control" placeholder="Ej. Julio Flores" ng-model="selectedItem.defendant" required="true" ng-readonly="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)">
</li>
<li>
    <label for="petition-court">Juzgado: <em class="mandatory-field">*</em></label>
    <input id="petition-court" type="text" class="form-control" class="form-control" placeholder="Ej. 14 de lo civil" ng-model="selectedItem.court" required="true" ng-readonly="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)">
</li>
<li>
    <label for="petition-record">Expediente: <em class="mandatory-field">*</em></label>
    <input id="petition-record" type="text" class="form-control" class="form-control" placeholder="Ej. 230/2015" ng-model="selectedItem.record" required="true" ng-readonly="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)">
</li>
<li>
    <label for="petition-municipality">Municipio: <em class="mandatory-field">*</em></label>
    <input id="petition-municipality" type="text" class="form-control" class="form-control" placeholder="Ej. Acapulco" ng-model="selectedItem.municipality" required="true" ng-readonly="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)">
</li>
<li>
    <label for="petition-state">Estado: <em class="mandatory-field">*</em></label>
    <span class="third-width">
        <button id="petition-state" type="button" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="statesDropdown" ng-disabled="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)">
            <span ng-if="!selectedItem.state">Selecciona un estado</span><span ng-if="selectedItem.state">{{ selectedItem.state.name }}</span>
            <span class="caret"></span>
        </button>
    </span>
</li>
<li>
    <label for="petition-attachments">Archivos adjuntos:</label>
    <span class="third-width"><input id="petition-attachment-name" type="text" ng-model="$parent.attachmentName" class="form-control" placeholder="Ej. Copia de correo" ng-readonly="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)"></span>
    <span class="third-width"><input id="petition-attachments" onchange="angular.element(this).scope().attachmentFilesChanged(this)"  class="form-control" type="file" ng-disabled="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)"></span>
    <span class="third-width"><a class="btn btn-default" ng-click="addAttachment()" ng-class="{'attachment-link-disabled': isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)}">Añadir</a></span>
    <a class="attachment-link" ng-repeat="attachment in selectedItem.attachments" ng-hide ="attachment.removed" ng-href="{{ attachment.url }}" target="_blank" ng-class="{'attachment-link-disabled': isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)}">{{ attachment.title }} <span class="icon icon-cancel-circle" ng-click="deleteAttachment($event, attachment)"></span></a>
</li>
<li>
    <label for="petition-lawyer">Abogado solicitante:</label>
    <input id="petition-lawyer" type="text" class="form-control" class="form-control" placeholder="Ej. Luis Sánchez" ng-model="selectedItem.lawyer" ng-readonly="isCurrentStatus(selectedItem.status, PETITION_STATUS.CASHED)">
</li>