<li class="mandatory-field-label">Campos obligatorios <em class="mandatory-field">*</em></li>
<li><h3>Datos generales del Usuario</h3></li>
<li>
    <label for="user-name">Nombre: <em class="mandatory-field">*</em></label>
    <input id="user-name" type="text" class="form-control" ng-model="selectedItem.name">
</li>
<li>
    <label for="user-mail">Correo electronico: <em class="mandatory-field">*</em></label>
    <input id="user-mail" type="text" class="form-control" ng-model="selectedItem.mail">
</li>
<li>
    <label for="user-phone">Teléfono:</label>
    <input id="user-phone" type="text" class="form-control" ng-model="selectedItem.phone">
</li>
<li>
    <label for="user-cellphone">Celular:</label>
    <input id="user-cellphone" type="text" class="form-control" ng-model="selectedItem.cellphone">
</li>