<div class="section-content">
    <form id="certificate-form" class="item-form">
        <fieldset>
            <legend ng-bind="titleState"></legend>
            <div class="warning-message" ng-if="selectedItem.anomaly">
                <span class="icon icon-warning"></span> Este elemento requiere atención inmediata.
            </div>
            <ol>
                <ng-include src="'templates/certificate_new_template.html'"></ng-include>
            </ol>
            <ol>
                <li><h3>Datos del gestor</h3></li>
                <li>
                    <label for="certificate-zone">Región:</label>
                    <span class="third-width">
                        <button id="certificate-zone" type="button" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="zonesDropdown">
                            <span ng-if="!selectedItem.zone">Selecciona una zona</span><span ng-if="selectedItem.zone">{{ selectedItem.zone.name }}</span>
                            <span class="caret"></span>
                        </button>

                    </span>
                </li>
                <li>
                    <label for="certificate-manager">Gestor:</label>
                    <span class="third-width">
                    <button id="certificate-manager" type="button" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="managersDropdown">
                        <span ng-if="!selectedItem.manager">Selecciona un gestor</span><span ng-if="selectedItem.manager">{{ selectedItem.manager.name }}</span>
                        <span class="caret"></span>
                    </button>

                    </span>
                    <span class="third-width"><a ng-disabled="!isManagerSelected()" class="btn btn-default" id="request-info-trigger" template="templates/request_info_template.html" data-auto-close="1" title="Enviar correo" bs-popover>Solicitar información</a></span>
                    <span class="third-width"><a ng-disabled="!isManagerSelected()" class="btn btn-default" title="Información del gestor" data-placement="top" data-template="templates/manager_detail_template.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>Datos del gestor</a></span>
                </li>
                <li>
                    <label for="certificate-cost">Costo de derechos:</label>
                    <span class="third-width"><input id="certificate-cost" type="text" placeholder="$1,200.00" class="form-control" ng-model="selectedItem.cost" ng-currency></span>
                </li>
                <li>
                    <label for="credit-committed-date">Fecha comprometida por el gestor:</label>
                    <quick-datepicker ng-model='committedDate' label-format="dd/MM/yyyy" on-change="setCommittedDate(committedDate)" placeholder="Selecciona una fecha"></quick-datepicker>
                    <div id="credit-committed-date" ng-if="selectedItem.committedDate">{{ selectedItem.committedDate | formatDate }}</div>
                </li>
                <li>
                    <label for="certificate-payment">Pago de derechos:</label>
                    <input id="certificate-payment" type="checkbox" ng-model="selectedItem.payment">
                </li>
            </ol>
            <ol ng-if="isCurrentStatus(selectedItem.status)">
                <li><h3>Datos de envío</h3></li>
                <li>
                    <label for="certificate-parcel">Paquetería:</label>
                    <span class="third-width">
                        <button id="certificate-parcel" type="button" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="parcelsDropdown">
                            <span ng-if="!selectedItem.parcel">Selecciona una paquetería</span><span ng-if="selectedItem.parcel">{{ selectedItem.parcel.title }}</span>
                            <span class="caret"></span>
                        </button>

                    </span>
                </li>
            </ol>
            <ol ng-if="isCurrentStatus(selectedItem.status)">
                <li><h3>Certificados</h3></li>
                <li>
                    <label for="certificate-documents">Generar de certificado:</label>
                    <span class="third-width"><input id="certificate-document-name" type="text" ng-model="documentName" class="form-control" placeholder="Ej. Certificado 3035 Ricardo Rosas"></span>
                    <span class="third-width"><input id="certificate-documents" onchange="angular.element(this).scope().attachmentFilesChanged(this)"  class="form-control" type="file" ></span>
                    <span class="third-width"><a class="btn btn-default" ng-click="addDocument(documentName)">Nuevo certificado</a></span>
                    <a class="attachment-link" ng-repeat="document in selectedItem.documents" href="document.url" target="_blank">{{ document.name }} <span class="icon icon-circle-with-cross"></span></a>
                </li>
            </ol>

            <ol ng-if="isCurrentStatus(selectedItem.status)">
                <li><h3>Datos de cobro</h3></li>
                <li>
                    <label for="certificate-invoices">Factura:</label>
                    <span class="third-width"><input id="certificate-invoice-name" type="text" class="form-control" placeholder="Ej. A-001" ng-model="invoiceName"></span>
                    <span class="third-width"><input id="certificate-invoices" onchange="angular.element(this).scope().attachmentFilesChanged(this)"  class="form-control" type="file" ></span>
                    <span class="third-width"><a class="btn btn-default" ng-click="addInvoice(invoiceName)">Nueva copia</a></span>
                    <a class="attachment-link" ng-repeat="invoice in selectedItem.invoices" href="invoice.url" target="_blank">{{ invoice.name }} <span class="icon icon-circle-with-cross"></span></a>
                </li>
                <li>
                    <label for="certificate-cashed">Cobrado:</label>
                    <input id="certificate-cashed" type="checkbox" ng-model="selectedItem.cashed">
                </li>
            </ol>

            <ol>
                <li class="action-button-holder">
                    <a ui-sref="dashboard" class="btn btn-default">Cancelar</a>
                    <a class="btn btn-success" ng-class="" ng-click="updateCertificate()" ng-disabled="!isValidForm()">Guardar</a>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
