
<div class="section-content" data-ng-controller="CertificateController as certificateCtrl">
    <form id="certificate-form" class="item-form">
        <fieldset>
            <legend ng-bind="titleState"></legend>
            <div class="warning-message" ng-if="selectedItem.anomaly">
                <span class="icon icon-warning"></span> Este elemento requiere atención inmediata.
            </div>
            <ol>
                <ng-include src="'templates/certificate_new_template.html'"></ng-include>
            </ol>
            <ol>
                <li class="action-button-holder">
                    <a ui-sref="dashboard" class="btn btn-default">Cancelar</a>
                    <a class="btn btn-success" ng-class="" ng-click="saveCertificate()" ng-disabled="!isValidForm(['owner', 'description'], ['folio', 'inscription'])">Guardar</a>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
