<!-- Sección de certificados -->
<div class="section" data-ng-controller="CertificateController as certificateCtrl">
    <div class="last-certificates-section">
        <h4 class="subtitle-section">Certificados de Libertad de Gravamen</h4>
        <div>
            <div class="unavailable-message" ng-if="!certificates.length">
                Por el momento no hay elementos en el catálogo de certificados
            </div>
            <div ng-if="certificates.length">
                <div class="item-search">
                    <input type="search" class="form-control" ng-model="query" placeholder="Buscar" />                    
                </div>
                
                <table>
                    <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Propietario</th>
                        <th>Descripción</th>
                        <th>Inscripción</th>
                        <th>Estatus</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="certificate in certificates | filter:query | orderBy:['anomaly', '-folio', 'creationDate']">
                            <td><span ng-class="{true:'indicator-red', false:'indicator-green'}[certificate.anomaly != undefined]"></span> <a ui-sref="certificates.edit({id:certificate.id, mode:'all'})">{{ certificate.folio }}</a></td>
                            <td>{{ certificate.owner }}</td>
                            <td>{{ certificate.description }}</td>
                            <td>{{ certificate.inscription }}</td>
                            <td>{{ certificate.status.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="action-button-holder">
            <a ui-sref="certificates.new({mode:'all'})" class="btn btn-default" title="Nuevo Certificado" ng-click="createCertificate()"><span class="icon icon-circle-with-plus"></span> Nuevo</a>
        </div>
    </div>
</div>
