<!-- Sección de créditos -->
<div class="section" data-ng-controller="CreditController as creditCtrl">
    <div class="credits-section">
        <h4 class="subtitle-section">Créditos PyME en mora</h4>
        <div>
            <div class="unavailable-message" ng-if="!credits.length">
                Por el momento no hay elementos en el catálogo de créditos
            </div>
            <div ng-if="credits.length">
                <div class="item-search">
                    <input type="search" class="form-control" ng-model="query" placeholder="Buscar" />
                </div>

                <table>
                    <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Acreditado</th>
                        <th>Contrato</th>
                        <th>Solidario 1 y RPP</th>
                        <th>Estatus</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="credit in credits | filter:query | orderBy:['anomaly', '-folio', 'creationDate']">
                        <td><span ng-class="{true:'indicator-red', false:'indicator-green'}[credit.anomaly != undefined]"></span> <a ui-sref="credit.edit({id:credit.id, mode:'all'})">{{ credit.folio }}</a></td>
                        <td>{{ credit.owner }}</td>
                        <td>{{ credit.contractNumber }}</td>
                        <td>{{ credit.solidary1 }}</td>
                        <td>{{ credit.status.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="action-button-holder">
            <a ui-sref="credits.new({mode:'all'})" class="btn btn-default" title="Nuevo Crédito" ng-click="createCredit()"><span class="icon icon-circle-with-plus"></span> Nuevo</a>
        </div>
    </div>
</div>
