<div class="local-search">
    <input type="search" class="form-control" ng-model="searchParams" placeholder="Buscar" />
    <a class="btn btn-default local-search-button" ng-click="search(searchParams)" title="Búscar"><span class="icon-search"></span></a>
</div>

<section id="Search" class="section-container" ng-if="searchResults">

    <div class="search-section">
        <div class="action-button-holder">
            <a class="btn btn-default" ng-click="resetSearchParams()">Regresar</a>
        </div>
        <h4 class="subtitle-section">Resultados de la búsqueda</h4>
        <div class="unavailable-message" ng-if="!searchResults.length">
            No se encontraron resultados de búsqueda.
        </div>
        <div ng-if="searchResults.length">            
            <table>
                <tbody>
                    <tr ng-repeat="result in searchResults ">
                        <td><a ng-href="{{ result.url }}" target="_blank">{{ result.title }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="Dashboard" class="section-container" data-ng-controller="DashboardController as dashboardCtrl" ng-if="!searchResults">

    <div>
        <ul class="local-nav large-12 end">
            <li ng-repeat="subsection in SUBSECTIONS" ng-class="{'selected':isCurrentSubsection(subsection)}"><a ng-click="setCurrentSubsection(subsection)">{{ subsection.title }}</a></li>
        </ul>
    </div>    

    <!-- Sección de certificados -->
    <div class="section" ng-controller="CertificateController as certificateCrtl" ng-if="isCurrentSubsection(SUBSECTIONS[SUBSECTION.ALL]) || isCurrentSubsection(SUBSECTIONS[SUBSECTION.CERTIFICATES])">
        <div class="last-certificates-section">
            <h4 class="subtitle-section">Certificados de Libertad de Gravamen</h4>
            <div>
                <div class="unavailable-message" ng-if="!lastCertificates.length">
                    Por el momento no hay elementos que requieran atención inmediata
                </div>
                <div ng-if="lastCertificates.length">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Folio</th>
                                <th>Inscripción</th>
                                <th>Propietario</th>
                                <th>Descripción</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="certificate in lastCertificates | orderBy:['anomaly', '-id'] ">
                                <td class="folio"><span ng-class="{true:certificate.anomaly.status, false:'indicator-green'}[certificate.anomaly != undefined]"></span> <a ui-sref="certificates.edit({id:certificate.id, mode:'last'})">{{ certificate.id }}</a></td>
                                <td>{{ certificate.folio }}</td>
                                <td>{{ certificate.inscription }}</td>
                                <td>{{ certificate.owner }}</td>
                                <td>{{ certificate.description }}</td>
                                <td>{{ certificate.status.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="action-button-holder">
                <a ui-sref="certificates.list" class="btn btn-default" title="Ver más...">Ver más...</a>
                <a ui-sref="certificates.new({mode:'last'})" class="btn btn-default" title="Nuevo Certificado" ng-click="createCertificate()"><span class="icon icon-circle-with-plus"></span> Nuevo</a>
            </div>
        </div>
    </div>

    <!-- Sección de créditos -->
    <div class="section" ng-controller="CreditController as creditCrtl" ng-if="isCurrentSubsection(SUBSECTIONS[SUBSECTION.ALL]) || isCurrentSubsection(SUBSECTIONS[SUBSECTION.CREDITS])">
        <div class="last-credits-section">
            <h4 class="subtitle-section">Créditos PyME en mora</h4>
            <div>
                <div class="unavailable-message" ng-if="!lastCredits.length">
                    Por el momento no hay elementos que requieran atención inmediata
                </div>
                <div ng-if="lastCredits.length">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Folio</th>
                                <th>Contrato</th>
                                <th>Acreditado</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="credit in lastCredits | limitTo: 5 | orderBy:['anomaly', '-id']  ">
                                <td class="folio"><span ng-class="{true:credit.anomaly.status, false:'indicator-green'}[credit.anomaly != undefined]"></span> <a ui-sref="credits.edit({id:credit.id, mode:'last'})">{{ credit.id }}</a></td>
                                <td>{{ credit.folio }}</td>
                                <td>{{ credit.contractNumber }}</td>
                                <td>{{ credit.owner }}</td>
                                <td>{{ credit.status.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="action-button-holder">
                <a ui-sref="credits.list" class="btn btn-default" title="Ver más...">Ver más...</a>
                <a ui-sref="credits.new({mode:'last'})" class="btn btn-default" title="Nuevo Crédito" ng-click="createCredit()"><span class="icon icon-circle-with-plus"></span> Nuevo</a>
            </div>
        </div>
    </div>

    <!-- Sección de exhortos -->
    <div class="section" ng-controller="PetitionController as petitionCrtl" ng-if="isCurrentSubsection(SUBSECTIONS[SUBSECTION.ALL]) || isCurrentSubsection(SUBSECTIONS[SUBSECTION.PETITIONS])">
        <div class="last-petitions-section">
            <h4 class="subtitle-section">Exhortos</h4>
            <div>
                <div class="unavailable-message" ng-if="!lastPetitions.length">
                    Por el momento no hay elementos que requieran atención inmediata
                </div>
                <div ng-if="lastPetitions.length">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Demandado</th>
                                <th>Juzgado</th>
                                <th>Expediente</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="petition in lastPetitions | limitTo: 5 | orderBy:['anomaly', '-id'] ">
                                <td class="folio"><span ng-class="{true:petition.anomaly.status, false:'indicator-green'}[petition.anomaly != undefined]"></span> <a ui-sref="petitions.edit({id:petition.id, mode:'last'})">{{ petition.id }}</a></td>
                                <td>{{ petition.defendant }}</td>
                                <td>{{ petition.court }}</td>
                                <td>{{ petition.record }}</td>
                                <td>{{ petition.status.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="action-button-holder">
                <a ui-sref="petitions.list" class="btn btn-default" title="Ver más...">Ver más...</a>
                <a ui-sref="petitions.new({mode:'last'})" class="btn btn-default" title="Nuevo Exhorto" ng-click="createPetition()"><span class="icon icon-circle-with-plus"></span> Nuevo</a>
            </div>
        </div>
    </div>

    <!-- Sección de embargos -->
    <div class="section" ng-controller="SeizureController as seizureCrtl" ng-if="isCurrentSubsection(SUBSECTIONS[SUBSECTION.ALL]) || isCurrentSubsection(SUBSECTIONS[SUBSECTION.SEIZURES])">
        <div class="last-seizures-section">
            <h4 class="subtitle-section">Embargos</h4>
            <div>
                <div class="unavailable-message" ng-if="!lastSeizures.length">
                    Por el momento no hay elementos que requieran atención inmediata
                </div>
                <div ng-if="lastSeizures.length">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Demandado</th>
                            <th>Juzgado</th>
                            <th>Expediente</th>
                            <th>Estatus</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="seizure in lastSeizures | limitTo: 5 | orderBy:['anomaly', '-id'] ">
                                <td class="folio"><span ng-class="{true:seizure.anomaly.status, false:'indicator-green'}[seizure.anomaly != undefined]"></span> <a ui-sref="seizures.edit({id:seizure.id, mode:'last'})">{{ seizure.id }}</a></td>
                                <td>{{ seizure.defendant }}</td>
                                <td>{{ seizure.court }}</td>
                                <td>{{ seizure.record }}</td>
                                <td>{{ seizure.status.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="action-button-holder">
                <a ui-sref="seizures.list" class="btn btn-default" title="Ver más...">Ver más...</a>
                <a ui-sref="seizures.new({mode:'last'})" class="btn btn-default" title="Nuevo Embargo" ng-click="createSeizure()"><span class="icon icon-circle-with-plus"></span> Nuevo</a>
            </div>
        </div>
    </div>

</section>