<!-- Sección de usuarios -->
<div class="section" data-ng-controller="InvoicesController as invoiceCtrl">
    <div class="last-invoices-section">
        <div>
            <div class="unavailable-message" ng-if="!invoices.length">
                Por el momento no hay facturas disponibles.
            </div>
            <div ng-if="invoices.length">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Tel&eacute;fono</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users | orderBy:['name', 'id']">
                            <td><a class="link" ui-sref="users.edit({id:user.id})">{{ user.name }}</a></td>
                            <td>{{ user.mail }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.cellphone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="action-button-holder">
            <a ui-sref="users.new" class="btn btn-default" title="Nuevo Usuario"><span class="icon icon-circle-with-plus"></span> Nuevo</a>
        </div>
    </div>
</div>