<div class="section-content" data-ng-controller="SeizureController as seizureCtrl">
    <form id="seizure-form" class="item-form">
        <fieldset>
            <legend ng-bind="titleState"></legend>
            <div class="warning-message" ng-if="selectedItem.anomaly">
                <span class="icon icon-warning"></span>
                <span ng-bind="selectedItem.anomaly.message"></span>
            </div>
            <ol>
                <ng-include src="'templates/seizure_new_template.html'"></ng-include>
            </ol>
            <ol>
                <li><h3>Datos de recibo</h3></li>
                <li>
                    <label for="seizure-receiving-parcel">Paquetería:</label>
                    <span class="third-width">
                        <button id="seizure-receiving-parcel" type="button" class="btn btn-default dropdown" data-animation="am-flip-x" bs-dropdown="receivingParcelsDropdown" ng-disabled="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)">
                            <span ng-if="!selectedItem.receivingParcel">Selecciona una paquetería</span><span ng-if="selectedItem.receivingParcel">{{ selectedItem.receivingParcel.name }}</span>
                            <span class="caret"></span>
                        </button>
                    </span>
                </li>
                <li>
                    <label for="seizure-receiving-tracking">Guía:</label>
                    <span class="third-width"><input id="seizure-receiving-tracking" type="text" placeholder="Ej. 1087652649" class="form-control" ng-model="selectedItem.receivingTrackingNumber" ng-readonly="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)"></span>
                </li>
                <li>
                    <label for="seizure-receiving-received">Recibido:</label>
                    <input id="seizure-receiving-received" type="checkbox" ng-model="selectedItem.receivingReceived" ng-disabled="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)">
                </li>
            </ol>
            <ol>
                <li><h3>Entrega</h3></li>
                <li>
                    <label for="seizure-documents">Subir archivo del embargo:</label>
                    <span class="third-width"><input id="seizure-document-name" type="text" ng-model="documentName" class="form-control" placeholder="Ej. Embargo 3035 Ricardo Rosas" ng-readonly="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)"></span>
                    <span class="third-width"><input id="seizure-documents" onchange="angular.element(this).scope().documentFilesChanged(this)"  class="form-control" type="file" ng-disabled="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)"></span>
                    <span class="third-width" ng-class="{'attachment-link-disabled': isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)}"><a class="btn btn-default" ng-click="addDocument()">Nuevo embargo</a></span>
                    <a class="attachment-link" ng-repeat="document in selectedItem.documents" ng-hide="document.removed" ng-href="{{ document.url }}" target="_blank">{{ document.title }} <span class="icon icon-cancel-circle" ng-click="deleteDocument($event, document)" ng-class="{'attachment-link-disabled': isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)}"></span></a>
                </li>
                <li>
                    <label for="petition-real-delivery-date">Fecha de entrega:</label>
                    <quick-datepicker ng-model='realDeliveryDate' label-format="dd/MM/yyyy" on-change="setRealDeliveryDate(realDeliveryDate)" placeholder="Selecciona una fecha" ng-hide="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)"></quick-datepicker>
                    <div id="petition-real-delivery-date" ng-if="selectedItem.realDeliveryDate">{{ selectedItem.realDeliveryDate | formatDate }}</div>
                </li>
                <li>
                    <label for="seizure-deliver">Entregado:</label>
                    <input id="seizure-deliver" type="checkbox" ng-model="selectedItem.delivered" ng-disabled="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)">
                </li>
            </ol>
            <ol>
                <li><h3>Observaciones</h3></li>
                <li>
                    <label for="seizure-comments">Observaciones:</label>
                    <textarea id="seizure-comments" class="form-control" placeholder="Ej. Se revisó el documento" ng-model="selectedItem.comments" ng-readonly="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)"></textarea>
                </li>
            </ol>
            <ol>
                <li><h3>Factura</h3></li>
                <li>
                    <label for="certificate-cashed">Facturado:</label>
                    <input id="certificate-cashed" type="checkbox" ng-model="selectedItem.cashed" ng-disabled="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)">
                </li>
            </ol>
            <ol>
                <li class="action-button-holder">
                    <a class="btn btn-danger delete-button" ng-click="deleteSeizure()" ng-disabled="isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)">Eliminar</a>
                    <a ui-sref="dashboard" class="btn btn-default">Cancelar</a>
                    <a class="btn btn-success" ng-class="" ng-click="updateSeizure()" ng-disabled="!isValidForm([], []) || isCurrentStatus(selectedItem.status, SEIZURE_STATUS.CASHED)">Guardar</a>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
